#workHist {
    list-style: none;
    text-align: left;
}

.jobtitle {
    margin-bottom: 0;
    color: rgba(36, 28, 1, 0.75);
    text-shadow: 1px 1px 1px rgba(253, 255, 225, 0.85);
}

.jobdescription {
    list-style: disc;    
}

p {
    margin-top: 0;
    margin-bottom: 3px;
    padding-left: 20px;
}

