.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  margin: 0 auto;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
li {
  padding: 0 25px;
}

.container {
  border: solid red 1px;
  margin: 0 auto;
  max-width: 1200px;
}

#intro {
  height: 150px;
  display: flex;
  flex-direction: row;
}
#intro img {
  padding: 0 7.5rem;
  border-radius: 50%;
  max-width: 100%
}
#intro p {
  padding: 20px 5% 20px 5%;
  
}

#body {
  display:flex;
  flex-direction: row;
  height: 1000px;
}

#leftBody {
  margin: 0;
  padding: 0;
  min-width: 30%;
}

#rightBody {
  margin: 0;
  padding: 0;
  min-width:69.55%;
  border: solid blue 
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
